USE [master]
GO
/****** Object:  Database [ECOMMERCE]    Script Date: 20/7/2022 20:27:02 ******/
CREATE DATABASE [ECOMMERCE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECOMMERCE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ECOMMERCE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECOMMERCE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ECOMMERCE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECOMMERCE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECOMMERCE]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 20/7/2022 20:27:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](10) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[DESCRIPCION_AD] [varchar](1000) NOT NULL,
	[PRECIO] [float] NOT NULL,
	[TIPO] [varchar](3) NOT NULL,
	[OBS] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[ID_CATEGORIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 20/7/2022 20:27:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](8) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[OBS] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 20/7/2022 20:27:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NroComprobante] [bigint] NULL,
	[IdArticulo] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[Monto] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domicilios]    Script Date: 20/7/2022 20:27:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilios](
	[DNI] [int] NULL,
	[Domicilio] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGENES]    Script Date: 20/7/2022 20:27:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGENES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [varchar](400) NOT NULL,
	[ORDEN] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[ID_ARTICULO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 20/7/2022 20:27:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[NroComprobante] [bigint] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](15) NOT NULL,
	[Cliente] [int] NULL,
	[FechaAlta] [date] NOT NULL,
	[FechaModificacion] [date] NOT NULL,
	[FormaDePago] [varchar](15) NOT NULL,
	[Total] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NroComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/7/2022 20:27:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Nombres] [nvarchar](max) NOT NULL,
	[Apellidos] [nvarchar](max) NOT NULL,
	[DNI] [int] NOT NULL,
	[Telefono1] [nvarchar](22) NOT NULL,
	[Telefono2] [nvarchar](22) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Estado] [bit] NULL,
	[TIPO] [int] NULL,
	[USUARIO] [nvarchar](15) NOT NULL,
	[PASS] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARTICULOS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[ARTICULOS] ([ID])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([NroComprobante])
REFERENCES [dbo].[Pedidos] ([NroComprobante])
GO
ALTER TABLE [dbo].[Domicilios]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[IMAGENES]  WITH CHECK ADD FOREIGN KEY([ID_ARTICULO])
REFERENCES [dbo].[ARTICULOS] ([ID])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([Cliente])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[ARTICULOS]  WITH CHECK ADD CHECK  (([tipo]='ART' OR [tipo]='CON'))
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD CHECK  (([Estado]='SOLICITADO' OR [Estado]='ACEPTADO' OR [Estado]='CANCELADO' OR [Estado]='DEVUELTO' OR [Estado]='ENVIADO' OR [Estado]='ENTREGADO'))
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD CHECK  (([FormaDePago]='EFECTIVO' OR [FormaDePago]='TRANSFERENCIA' OR [FormaDePago]='TARJETA'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([TIPO]>=(0) AND [TIPO]<=(9)))
GO
USE [master]
GO
